<!doctype html>
{% load static %}
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>My Account || Charity</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->        
        <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}">
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<!-- all css here -->
		<!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<!-- animate css -->
        <link rel="stylesheet" href="{% static "css/animate.css" %}">
		<!-- jquery-ui.min css -->
        <link rel="stylesheet" href="{% static "css/jquery-ui.min.css" %}">
		<!-- meanmenu css -->
        <link rel="stylesheet" href="{% static "css/meanmenu.min.css" %}">
        <!-- venobox css -->
        <link rel="stylesheet" href="{% static "css/venobox.css" %}">
		<!-- owl.carousel css -->
        <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}">
		<!-- font-awesome css -->
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <!-- nivo-slider css -->
        <link rel="stylesheet" href="{% static "lib/css/nivo-slider.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "lib/css/preview.css" %}" type="text/css" media="screen" />
		<!-- style css -->
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<!-- responsive css -->
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
		<!-- modernizr js -->
        <script src="{% static "js/vendor/modernizr-2.8.3.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <!-- header-area start -->
        <header class="header-area">
            <div class="header-top hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="top-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="top-srch-bx">
                                <input type="text" placeholder="Text Search">
                                <div class="button_search">
                                    <button title="Search" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="account-login">
                                <div class="accounts-login">
                                    <a href="#"><span>Login</span></a>
                                    <div class="login-form">
                                        <form action="#">
                                            <div class="form_wrapper_body">
                                                <p class="login-username">
                                                    <label>
                                                        User or Email
                                                    </label>
                                                    <input type="text" placeholder="User or Email"> 
                                                </p>
                                                <p class="login-password">
                                                    <label>
                                                        Password
                                                    </label>
                                                    <input type="text" placeholder="Password">
                                                </p>
                                            </div>
                                            <div class="form_wrapper_footer">
                                                <input class="button" type="submit" value="Login">
                                                <a class="button" href="#">Register</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts-top">
                                <div class="contacts-supports">
                                    <span class="spprt-phone">
                                        <i class="fa fa-phone"></i>
                                        01973833508
                                    </span>
                                    <span class="support-email">
                                        <i class="fa fa-envelope"></i>
                                        admin@bootexperts.com
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom" id="sticker">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="logo">
                                <a href="index.html"><img src="{% static "img/logo.png" %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 hidden-xs">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li class="active parent">
                                            <a href="index.html">Home</a>
                                            <ul class="submenu">
                                                <li><a href="index.html">Home Default</a></li>
                                                <li><a href="index-2.html">Home Blue</a></li>
                                                <li><a href="index-3.html">Home Turquoise</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="causes.html">Causes</a></li>
                                        <li><a href="portfolio.html">Portfolio</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li class="parent">
                                            <a href="#">Pages</a>
                                            <div class="mega-menu">
                                                <span>
                                                    <a class="mm-title" href="#">page set 1</a>
                                                    <a href="shopping-cart.html">Cart</a>
                                                    <a href="shop-leftsidebar.html">Shop left sidebar</a>
                                                    <a href="shop-rightsidebar.html">Shop right sidebar</a>
                                                    <a href="shop-list.html">Shop list</a>
                                                    <a href="shop-fullwidth.html">Shop fullwidth</a>
                                                </span>
                                                <span>
                                                    <a class="mm-title" href="#">page set 2</a>
                                                    <a href="blog-details.html">Blog details</a>
                                                    <a href="checkout.html">Checkout</a>
                                                    <a href="contact-us.html">Contact us</a>
                                                    <a href="gallery.html">Gallery</a>
                                                    <a href="registration.html">My account</a>
                                                </span>
                                                <span>
                                                    <a class="mm-title" href="#">page set 3</a>
                                                    <a href="services.html">Services</a>
                                                    <a href="single-product.html">Single product</a>
                                                    <a href="team-member.html">Team member</a>
                                                    <a href="wishlist.html">Wishlist</a>
                                                    <a href="404.html">404</a>
                                                </span>
                                            </div>
                                        </li>  
                                        <li><a href="#"><span class="donate-tdy">Donate Today!</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-area end -->
		<!-- mobile-menu-area start -->
		<div class="mobile-menu-area visible-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul>
									<li><a href="index.html">Home</a>
										<ul>
											<li><a href="index.html">Home Default</a></li>
											<li><a href="index-2.html">Home Blue</a></li>
											<li><a href="index-3.html">Home Turquoise</a></li>
										</ul>
									</li>
									<li><a href="causes.html">Causes</a></li>
									<li><a href="portfolio.html">Portfolio</a></li>
									<li><a href="blog.html">Blog</a></li>
									<li><a href="#">Pages</a>
										<ul>
											<li>
												<a href="#">page set 1</a>
												<ul>
													<li><a href="shopping-cart.html">Cart</a></li>
													<li><a href="shop-leftsidebar.html">Shop left sidebar</a></li>
													<li><a href="shop-rightsidebar.html">Shop right sidebar</a></li>
													<li><a href="shop-list.html">Shop list</a></li>
													<li><a href="shop-fullwidth.html">Shop fullwidth</a></li>
												</ul>
											</li>
											<li>
												<a href="#">page set 2</a>
												<ul>
													<li><a href="blog-details.html">Blog details</a></li>
													<li><a href="checkout.html">Checkout</a></li>
													<li><a href="contact-us.html">Contact us</a></li>
													<li><a href="gallery.html">Gallery</a></li>
													<li><a href="registration.html">My account</a></li>
												</ul>
											</li>
											<li>
												<a href="#">page set 3</a>
												<ul>
													<li><a href="services.html">Services</a></li>
													<li><a href="single-product.html">Single product</a></li>
													<li><a href="team-member.html">Team member</a></li>
													<li><a href="wishlist.html">Wishlist</a></li>
													<li><a href="404.html">404</a></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<!-- mobile-menu-area end -->
        <!-- big-banner-area start -->
        <div class="big-banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="big-banner-descs">
                            <h1 class="big-b-title">My Account</h1>
                            <a href="index.html">Home page</a>
                            <span>My Account</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- big-banner-area end -->
        <!-- my-account-area start -->
        <div class="my-account-area single-padding">
            <div class="container">
                {% if username_exist %}
                    <div class="alert alert-danger col-lg-9 col-md-9 col-sm-9 col-xs-12" role="alert">
                      Nombre de usuario ya existe!
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="title-heading">Registro</div>
                        <div class="row">
                            <form method="POST" id="register" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="my-acc-login">
                                        <p>
                                            <label>
                                                Nombre(s):
                                                <span class="required">*</span>
                                            </label>
                                            <input class="my-inptsd" type="text" placeholder="Nombre"
                                                   name="first_name_registration" required>
                                        </p>
                                        <p>
                                            <label>
                                                Apellido(s):
                                                <span class="required">*</span>
                                            </label>
                                            <input class="my-inptsd" type="text" placeholder="Apellido"
                                                   name="last_name_registration" required>
                                        </p>
                                        <p>
                                            <label>
                                                Nombre de usuario:
                                                <span class="required">*</span>
                                            </label>
                                            <input class="my-inptsd" type="text" placeholder="Nombre de usuario"
                                                   name="username_registration" required>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="my-acc-login">
                                            <label>
                                                Fecha de nacimiento:
                                                <span class="required">*</span>
                                            </label>

                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input class="my-inptsd" id="date" placeholder="MM/DD/YYYY" type="text" name="dob_registration"/>
                                            </div>
                                        <p></p>
                                        <p>
                                            <label>
                                                Email
                                                <span class="required">*</span>
                                            </label>
                                            <input class="my-inptsd" type="email" placeholder="Correo electronico" name="email_registration" required>
                                        </p>
                                        <p>
                                            <label>
                                                Contraseña:
                                                <span class="required">*</span>
                                            </label>
                                            <input class="my-inptsd" type="password" placeholder="Contraseña" name="password_registration" required>
                                        </p>
                                        <div class="my-acc-lgin-btn">
                                            <input type="submit" value="Registrarse" name="register">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- my-account-area end -->
        <!-- footer-area start -->
        <footer class="footer-area">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                            <div class="copyryt-txt">
                                Copyright ©
                                <a href="http://bootexperts.com">BootExperts.com</a> . All Rights Reserved
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                            <div class="footer-menu">
                                <nav>
                                    <ul>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Our Story</a></li>
                                        <li><a href="#">Be a Volunteer</a></li>
                                        <li><a href="#">What we do</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area end -->
        
        
        

		<!-- all js here -->
        <!-- jquery latest version -->
        <script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"></script>
        <!-- bootstrap js -->
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <!-- owl.carousel js -->
        <script src="{% static "js/owl.carousel.min.js" %}"></script>
        <!-- jquery-ui js -->
        <script src="{% static "js/jquery-ui.min.js" %}"></script>
        <!-- wow js -->
        <script src="{% static "js/wow.min.js" %}"></script>
        <!-- venobox js -->
        <script src="{% static "js/venobox.min.js" %}"></script>
        <!-- mixitup js -->
        <script src="{% static "js/jquery.mixitup.js" %}"></script>
        <!-- elevateZoom js -->
        <script src="{% static "js/jquery.elevateZoom-3.0.8.min.js" %}"></script>
        <!-- nivo-slider js -->
        <script src="{% static "lib/js/jquery.nivo.slider.js" %}" type="text/javascript"></script>
        <script src="{% static "lib/home.js" %}" type="text/javascript"></script>
        <!-- meanmenu js -->
        <script src="{% static "js/jquery.meanmenu.js" %}"></script>
        <!-- plugins js -->
        <script src="{% static "js/plugins.js" %}"></script>
        <!-- main js -->
        <script src="{% static "js/main.js" %}"></script>
        <!-- Include Date Range Picker -->
        <script type="text/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.css" %}"/>
        <script>
            $(document).ready(function(){
                var date_input=$('input[name="dob_registration"]'); //our date input has the name "date"
                var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                date_input.datepicker({
                    format: 'mm/dd/yyyy',
                    container: container,
                    todayHighlight: true,
                    autoclose: true,
                })
            })
        </script>
    </body>
</html>
